.cloud-card {
  position: relative;
}

.bl-cloud-card {
  position: absolute;
  bottom: -40px;
  left: -18px;
  width: 45%;
  z-index: 0;
}

.tr-cloud-card {
  position: absolute;
  top: -75px;
  right: -40px;
  width: 45%;
  z-index: 0;
}

.cloud-title {
  position: absolute;
  bottom: 4px;
  right: 24px;
}
