.contact-card {
  position: relative;
}

.tr-contact-card {
  position: absolute;
  top: -40px;
  right: -30px;
  width: 30%;
  z-index: 0;
}

.bl-contact-card {
  position: absolute;
  bottom: -2px;
  left: -165px;
  width: 45%;
  z-index: 0;
}