.presentation-card {
  position: relative;
}

.tl-presentation-card {
  position: absolute;
  top: -12px;
  left: -6px;
  width: 50%;
  z-index: 0;
}

.br-presentation-card {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 50%;
  z-index: 0;
}