.presentation-card {
  position: relative;
}

.tl-presentation-card {
  position: absolute;
  top: -20px;
  left: -50px;
  width: 45%;
  z-index: 0;
}

.br-presentation-card {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 45%;
  z-index: 0;
}
