.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.Preview {
  width: 632px;
  padding-top: 48px;
  padding-bottom: 48px;
  /* background-color: red; */
}