.maps-card {
  position: relative;
}

.bl-maps-card {
  position: absolute;
  bottom: -23px;
  left: -5px;
}

.tr-maps-card {
  position: absolute;
  top: -46px;
  right: -25px;
}

.maps-title {
  position: absolute;
  bottom: 4px;
  right: 24px;
}
