.zone-card {
  position: relative;
}

.bl-zone-card {
  position: absolute;
  bottom: -40px;
  left: -18px;
  width: 45%;
  z-index: 0;
}

.tr-zone-card {
  position: absolute;
  top: -75px;
  right: -40px;
  width: 45%;
  z-index: 0;
}

.zone-title {
  position: absolute;
  bottom: 4px;
  right: 24px;
}
